/* Alapvető beállítások az oldalhoz */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Címek stílusai */
h1, h2 {
    color: #333;
    text-align: center;
}

/* Jobb elrendezés az egész oldalhoz */
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
