/* Logó képméret beállítás */
.navbar-logo img {
    height: 50px !important;
    width: auto;
    object-fit: contain;
    margin-right: 10px;
    
    
}

/* Logó szöveg stílus */
.navbar-logo-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
}

/* Teljes logóblokk vízszintesen rendezve */
.navbar-logo {
    display: flex;
    align-items: center;
}


.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}


  